body {
  width: 600px;
  margin: 25px auto;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.yourTurn {
  text-decoration: underline;
  background-color: yellow;
}
.board {
  width: 75px;
  height: 75px;
}
